    /*bater ponto*/
.ponto-card {
    background-color: var(--bg-card);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin-top: 40px;
}

.horario-atual {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.tempo-container {
    text-align: center;
    margin-bottom: 25px;
}

.matricula {
    font-size: 0.8em;
    color: #999;
    margin-top: 20px;
}

.data-atual {
    font-size: 1em;
    color: var(--text-color-dark);
    margin-bottom: 25px;
}

#botaoPonto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--green-card);
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 90px;
}

#botaoPonto:hover { background-color: #2b9157; transform: scale(1.05); }
#botaoPonto:active { transform: scale(0.95); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.status-atual {
    margin-top: 30px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f0f8ff;
    border: 1px solid #cceeff;
    font-weight: bold;
}

.ultimo-ponto {
    font-size: 0.9em;
    color: var(--text-color-dark);
    margin-top: 15px;
}
.status-work { border-left: 5px solid var(--green-card); color: var(--green-card); }
.status-break { border-left: 5px solid var(--orange-card); color: var(--orange-card); }